.Full-Article-container{
    /* margin: 15px 0px; */
    width: 100%;
    margin: auto;
}

.Full-Article-title{
    padding: 0px 50px;
    font-size: 1.75rem;
    margin-bottom: 8px;
}

.Full-Article-author{
    font-size: 2rem;
    padding: 0px 50px;
    padding-bottom: 24px;
    font-size: 1rem;
    margin-bottom: 0px;
    color: #AF8661;
}

.Full-Article-content{
    /* margin: 0px 80px; */
    padding: 0px 50px;
}

.Full-Article-image{
    max-width: 100%;
    padding: 0px 50px;
    padding-bottom: 3rem;
}

.publish-date{
    display: inline-block;
}

.publish-date{
    color: black;
    padding-left: 10px;
}