.article .author-name span {
  padding-left: 2rem;
}

.article a {
  color: #af8661;
}

.back-button {
  color: #000000;
}

.back-button:hover {
  color: #af8661;
  text-decoration: #af8661;
}

.article a:hover {
  color: #000000;
}

.cover-caption {
  padding-top: 0.5rem;
  font-size: smaller;
}

.cover-caption a {
  color: black;
}

.cover-caption a:hover {
  color: #af8661;
  text-decoration: underline;
}
