html {
  scroll-behavior: smooth;
}

/* -------------- Webinar Overview */
.page-section {
  margin-bottom: 5rem !important;
}

h6.timeSubtitle {
  --bs-text-opacity: 1;
  color: #6c757d !important;
}


.web-card-container {
  display: grid;
  grid-template-columns: repeat(3, 22rem);
  justify-content: center;
  margin-top: 1rem;
}

.webcard {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}

.web-grid {
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
}

h5.webcard-title {
  flex: initial;
}

h6.card-subtitle.mb-2.text-muted {
  color: #6c757d !important;
}

.webcard img {
  padding: 1rem;
}

img.webCard-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.webcard-body {
  padding: 1.1rem;
  background-color: #F4F3F2;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 17rem;
}

.webcard-text {
  margin-top: 0;
  flex: 1 1 auto;
  overflow: hidden;
}

.webcard-text p {
  margin-top: unset;
  margin-bottom: unset;
}


h6.webcard-subtitle.mb-2.text-muted {
  color: #6c757d !important;
  margin-top: -0.375rem;
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}

button.readMoreBtn.btn-link {
  text-align: left;
  
}

button#see-more-button {
  border: none;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.intro {
  position: relative;
}


@media (min-width: 992px) {
  img.intro-img.img-fluid.mb-3.mb-lg-0.rounded {
    width: 65%;
    float: right;
  }

  .intro-text.left-0.bg-faded.p-4.rounded {
    left: 0;
    max-width: 23em;
    margin-top: 5rem;
    position: absolute;
  }
}

@media (min-width: 1200px) {
  img.intro-img.img-fluid.mb-3.mb-lg-0.rounded {
    width: 77%;
    float: right;
  }

  .intro-text.left-0.bg-faded.p-4.rounded {
    left: 0;
    max-width: 20em;
    margin-top: 6rem;
    position: absolute;
  }
}

img.intro-img.img-fluid.mb-3.mb-lg-0.rounded {
  border-radius: 0.25rem !important;
}

.bg-faded {
  background-color: #f4f3f2;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
}

.intro-text>p {
  text-align: left;
}

/* -------------- Button */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #5f5f5f;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.readMoreBtn {
  line-height: 1.5;
  color: #af8661;
  cursor: pointer;
  padding-left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0px solid transparent;
}

.readMoreBtn:hover {
  color: #000000;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

a:hover {
  color: #000000;
  text-decoration: none;
}

/* More button */
#see-more-button {
  color: #af8661;
  font-size: larger;
}

#see-more-button:hover {
  color: #000000;
  text-decoration: none;
}

/* Down (chevron) arrow */
#see-more-button i {
  /* color: orangered; */
  padding-left: 10px;
}

/* -------------- Grid / List */
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 22rem);
  justify-content: center;
  margin-top: 1rem;
}

.wrapper-list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media (max-width: 992px) {

  .wrapper-list,
  .wrapper-grid {
    grid-template-columns: 1fr;
  }

  .wrapper-list a {
    font-size: medium;
  }
}

.list {
  margin-bottom: 20px;
}

.list a {
  text-decoration: underline #af8661 2px;
  text-underline-offset: 5px;
}

.grid-item {
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
}

/* -------------- Upcoming webinars */
.upcoming-Webinars .wrapper-grid {
  grid-template-columns: 1fr;
}

.upcoming-Webinars .card {
  width: 80%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.upcoming-Webinars {
  background: #f4f3f2;
}

.upcoming-Webinars a {
  color: #af8661;
}

/* -------------- Card */
.card-body {
  background-color: #f4f3f2;
}

.card {
  width: 20rem;
  height: 100%;
  margin-bottom: 2rem;
}

.card button.read-more-btn {
  position: absolute;
  bottom: 14px;
}

@media (max-width: 992px) {
  .card {
    width: fit-content;
  }
}

.card img {
  padding: 1rem;
}

/*.upcoming-Webinars .card-body {
     background-color: #F4F3F2; 
}*/

.card-link {
  color: #af8661;
}

/* -------------- Latest webinars */
.latestWebinars {
  width: 100%;
  /* background-color: #F4F3F2; */
}

.latest-Webinars .card-body {
  background-color: #f4f3f2;
}

#webinar-list a {
  color: black;
}

/* Footer */
.footer {
  background-color: #f4f3f2;
}

.webinar-list {
  display: none;
}

.morecards {
  display: none;
}

.remaining-webinars {
  display: none;
}

.card-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}